.wrapper{
	height: 5719px;

	.videoContainer{
		position: fixed;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 100vw;
		height: 100vh;
		canvas{
			width: 100%;
			height: 100%;
		}

		video{
			position: absolute;

			visibility: hidden;
		}
	}
}

